---
layout: default
---

<script type="text/javascript">
  // g+
  window.___gcfg = {lang: 'zh-CN'};
  (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<!-- 百度分享 -->
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["mshare","tsina","qzone","tqq","renren","weixin","douban"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["mshare","tsina","qzone","tqq","renren","weixin","douban"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>


<div class="Content" role="main">
  <article class="Article">
    <div class="container">
      <header class="Article-header text-center">
        <h1 class="Article-title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
        <div class="Article-data">
          <p class="txt-small txt-mutee">{{ page.date | date:"%Y-%m-%d" }}</p>
        </div>
      </header>
    </div>
    <div class="container">
      <div class="Article-body">
        {{ content }}
      </div>
      <div class="Article-interactions">
        <div class="pull-right">
          <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_mshare" data-cmd="mshare" title="分享到一键分享"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a>
            <g:plusone></g:plusone>
          </div>
        </div>
        <div class="share-opt">
          <a href="javascript:void();" onclick="displayDisqus();">点击查看评论</a>
        </div>
      </div>
      <div id="disqus_thread"></div>
    </div>
  </article>
</div>

<script type="text/javascript">
  var disqus_shortname = 'wenin819';
  function displayDisqus() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  };
</script>
<noscript>请启用JavaScript，才能查看或进行评论</noscript>
<script src="/js/blogstyle.js" ></script>
